body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(scenery-4867846_1920.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: #555;
    margin-bottom: 20px;
    font-size: 20px;
}

.day {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.date {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.weather-code {
    margin-top: 5px;
    font-style: italic;
    color: #555;
    font-size: 16px;
}

.temp {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.weather-icon {
    font-size: 30px;
    margin-top: 10px;
}
